/* @font-face {
    font-family: "Consolas";
    src: url(/assets/fonts/consolas.ttf);
} */



*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 0;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gilroy-Bold', sans-serif;
    background-color: #1b1a1a;
    color: #fff;
}
.overflow-hidden{
    overflow: hidden;
}
h1{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    font-family: 'Gilroy-Medium', sans-serif;
}
a{
    color: inherit;
}
.bt{
    background-color: #1b1a1a;
    color: #fff;
}
.wt{
    background-color: #fff;
    color: #000;
}
.button{
      
    background-image: linear-gradient(to right, #ffc619 0%, #fff92b 51%, #cdff38 100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #000;            
    border-radius: 10px;
    display: block;
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: .15s linear;
    line-height: 14px;
}

.button:hover{
    transform: scale(1.03);
}
.container{
    width: 100%;
    max-width: 950px;
    padding: 0 20px;
    margin: 0 auto;
}
 



.header{
    width: 100%;
    position: fixed;
    background-color: #1b1a1a;
    z-index: 100;
    padding: 25px 0;
}
.header::after{
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    transition: .2s linear;
}
.header.active::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0;
    background-color: #fff;
}
.navigation{
    width: 100%;
}
.navigation__list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 5px;
    border-bottom: 2px solid white;
    transition: .1s linear;
}
.nav__link:hover{
    color: rgba(251, 70, 230, 1);
    border-bottom: 2px solid rgba(251, 70, 230, 1);
    transform: translate(0, 2px);
}

@media (max-width: 500px) {
    .header{
        bottom: -210px;
        padding-top: 30px;
        transition: .2s linear;
        display: none;
    }
    .navigation__list{
        margin-top: 10px;
        flex-direction: column;
        gap: 15px;
        align-items: center;
    }
    .nav__link{
        border-bottom: none;
    }
}





.ms{
    width: 100%;
    position: relative;
    padding-top: 130px;
}
.ms__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ms__name{
    font-size: 46px;
    line-height: 58px;
    text-align: right;
    max-width: 210px;
}
.ms__info{
    font-family: 'Gilroy-Medium', sans-serif;
    max-width: 185px;
}
.photo{
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
}
.language{
    transform: rotate(-90deg);
    color: #828282;
    font-family: 'Gilroy-Bold', sans-serif;
}

@media (max-width: 768px) {
    .ms__container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .ms__info{
        width: 100%;
        max-width: initial;
        order: 3;
        margin-top: 10px;
    }
    .ms__name{
        max-width: initial;
        width: 100%;
        text-align: center;
        line-height: 40px;
        font-size: 42px;
        margin-top: 15px;
    }
    .ms{
        padding-top: 100px;
    }
    section{
        padding: 60px 0;
    }
    .contacts{
        padding-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .ms{
        padding-top: 60px;
    }
}







.about-me{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2d2d2d;
}
.title{
    text-align: center;
    font-size: 34px;
    margin-bottom: 18px;
}
.about-me__subtitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gilroy-Medium', sans-serif;
    max-width: 700px;
    margin: 0 auto;
    gap: 20px;
    min-height: 155px;

}
.about-me__subtitle p{
    opacity: 0;
}
.about-me__subtitle p.active{
    opacity: 1;
}
.subtitle{
    text-align: center;
    font-family: 'Gilroy-Medium', sans-serif;
    margin-bottom: 30px;
}





.skills{
    position: relative;
}
.stack{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}
.stack__elem{
    width: calc((100% - 100px) / 6);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: 1s linear;
    height: 170px;
    padding-bottom: 0;
}
.visible{
    opacity: 1;
}
.stack__elem__title{
    width: 100%;
    padding: 5px;
    text-align: center;
}
.visible .stack__elem__img{
    transform: scale(1);
}
.stack__elem__img{
    transform: scale(0.5);
    transition: .1s linear;
    margin: 20px;
    height: 100px;
}
.popup-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
    transition: .1s linear;
}
.popup-wrapper.visible{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.popup-wrapper.not-visible{
    visibility: hidden;
    opacity: 0;
    transform: scale(0.5);
}
.popup__title{
    position: absolute;
    left: 0;
    top: -30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 7px 25px;
    padding-top: 7px;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    gap: 10px;
}
.title-icon {
    height: 20px;
    width: 20px;
}
.close-popup {
    -webkit-filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(335deg) brightness(109%) contrast(103%);
            filter: brightness(0) saturate(100%) invert(94%) sepia(0%) saturate(0%) hue-rotate(335deg) brightness(109%) contrast(103%);
    width: 20px;
    height: 20px;
    margin-left: auto;
    cursor: pointer;
}
.stack__elem__popup ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 18px;
    list-style: none;
    counter-reset: num;
}
.stack__elem__popup ul li{
    display: flex;
}

@media (max-width: 960px) {
    .stack__elem{
        width: calc((100% - 40px) / 3);
        height: auto;
    }
}
@media (max-width: 580px) {
    .stack__elem{
        width: calc((100% - 20px) / 2);
    }
}















.remark{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.portfolio{
    background-color: #2d2d2d;
    width: 100%;
}
.portfolio .title{
    margin-bottom: 40px;
}
.portfolio__items{
    display: flex;
    flex-direction: column;
    gap: 80px;
    counter-reset: num;
    list-style: none;
}
.portfolio__elem{
    position: relative;
    width: 100%;
    transition: .1s linear;
}
.portfolio__elem__bg{
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 0;
    transition: .2s linear;
    opacity: 0.5;
    left: 0;
    top: 0;
}
.portfolio__elem__bg{
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 10;
    transition: .2s linear;
    opacity: 0.5;
    left: 0;
    top: 0;
}
.portfolio__elem:hover .portfolio__elem__bg{
    z-index: 5;  
    background-color: #000;
    opacity: 0.8;
    width: 100%;
}
.portfolio__elem::after{
    content: counter(num);
    counter-increment: num;
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
    z-index: 15;
    color: #fff;
    font-size: 150px;
    opacity: 0;
    transition: all .1s linear;
    transition-delay: .3s;
    line-height: 1;
}
.portfolio__elem:nth-child(2n - 1):after{
    left: 6px;
}
.portfolio__elem:hover::after{  
    opacity: 1;
    top: -15px;
}
.portfolio__elem:nth-child(2n - 1) .portfolio__elem__content{
    left: initial;
    right: 40px;
    align-items: flex-end;
}
.portfolio__elem__content{
    position: absolute;
    left: 40px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 15;
    transition: .1s linear;
    transition-delay: .4s;
}
.portfolio__elem:hover .portfolio__elem__content {
    transform: scale(1.05);
}
.portfolio__elem__title{
    font-size: 40px;
    transition: .2s linear;
    line-height: 1.2;
    z-index: 10;
}
.portfolio__elem__buttons{
    display: flex;
    gap: 15px;
    align-items: center;
    transition: .1s linear;
    position: relative;
    z-index: 5;
}
.portfolio__elem__git-link{
    display: block;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #ffc619 0%, #fff92b 51%, #cdff38 100%);
}
.portfolio__elem__git-link svg{
    width: 35px;
}
.portfolio__elem__popup{
    font-size: 20px;
    padding: 30px;
    background-color: #2d2d2d;
    width: calc(100% - 40px);
    max-width: 900px;
    position: relative;
    padding-bottom: 70px;
}
.portfolio__elem__popup h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}
.portfolio__elem__preview{
    display: block;
}
.portfolio__elem__img{
    width: 100%;
    transition: .1s linear;
    margin: 0;
    display: block;
}
.portfolio__elem__links{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 60px);
    z-index: 1;
    left: 30px;
    bottom: 30px;
    color: #fff;
}





.contactLinks{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.contactLink img{
    height: 60px;
}
.contactLink:hover{
    transform: translateY(5px);
}
.phoneNumber{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 20px;

}
